.App{
    min-height: 100vh;
    background: url("./img/mainBg.jpg") no-repeat center / cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.App__wrapper{
    max-width: 1062px;
    max-height: 864px;
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    border-radius: 3%;
    overflow: hidden;
}

.App__header{
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
}

.App__header-link{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
}
