.users-table{
    max-width: 517px;
    flex-grow: 1;
    overflow: auto;
    background: rgba(55, 51, 81, 0.8);
}


/* width */
.users-table::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.users-table::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.users-table::-webkit-scrollbar-thumb {
    background-color: #2b80ff;
}

/* Handle on hover */
.users-table::-webkit-scrollbar-thumb:hover {
    background-color: #2b5  0ff;
}

.users-table .user-preview:not(:last-child){
    border-bottom: 2px solid #3e3f62;
}

@media (max-width:910px),(max-device-width:910px) {
    .users-table{
        max-width: 95px;
        overflow-x:hidden;
    }
}

@media (max-width:540px),(max-device-width:540px) {
    .users-table{
        min-width: 56px;
        max-width: 56px;
    }
}
